---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="My tech skills">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      My primary tools of choice includes:
      <ul class="list-inside list-disc text-xs">
        <li>React, Redux & Javascript</li>
        <li>Typescript & Tailwind</li>
        <li>Full Spring Boot & Java</li>
        <li>HTML/HTML5, CSS & Bootstrap</li>
        <li>PostgreSQL, Git, Postman & Swagger</li>
        <br />
        <li>Software Cad: Bim, Gis & Acca</li>
        <li>Software 3D Modeling: Revit, SketchUp, Rhino, Archicad</li>
        <li>Adobe, Office</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I’m passionate about architecture, travel, music, video
      games, and cinema, and I enjoy keeping up with the latest developments in
      science, space, and astronomy. In my free time, I love listening to good
      music, hanging out with friends, or watching movies and TV series — it's
      my way of finding inspiration and keeping my creativity alive outside the
      tech world.
    </p>
  </div>
</Card>
