---
import Card from '../Card.astro';
import { useTranslations } from '../../i18n/utils';

const lang = Astro.locals.lang || 'it';
const t = useTranslations(lang);

const skillList = t('skills.list'); // dovrebbe essere un array
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title={t('skills.title')}>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {t('skills.primary_tools')}
      <ul class="list-inside list-disc text-xs">
        {Array.isArray(skillList) && skillList.map((item: string) => <li>{item}</li>)}
      </ul>
    </p>
    <p class="text-sm font-light">
      {t('skills.passion')}
    </p>
  </div>
</Card>