---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
import { useTranslations } from '../../i18n/utils';

const lang = ((Astro.locals as { lang?: string }).lang || 'it') as 'it' | 'en';
const t = useTranslations(lang);
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        {t('contact.title')}
      </h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">{t('contact.details')}</h2>
      <p class="flex items-center rounded-lg border border-transparent p-2 text-xs text-[#C99267] hover:border-[#C99267]">
        {t('contact.email')}
      </p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">{t('contact.socials')}</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
          <a href={LINKS.instagram} target="_blank" class="ml-4">Instagram</a>
        </li>
      </ul>
    </div>
    <img
      src="/test_avatar3.png"
      class="pointer-events-none absolute max-h-[300px] w-auto"
      style="margin-top: 26rem; right: 25px"
      alt="Avatar of Salvatore Desole"
    />
  </div>
</Card>