---
import { WORK } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import PortfolioTabs from '../components/sections/PortfolioTabs.tsx'
import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { EntryFieldTypes } from 'contentful'

interface Project {
  contentTypeId: 'Projects'
  fields: {
    name: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink
    website: EntryFieldTypes.EntryResourceLink<any>
    repository: EntryFieldTypes.EntryResourceLink<any>
  }
}

const entries = await contentfulClient.getEntries<Project>({})
const getImageUrl = (asset) => {
  if (!asset || !asset.fields || !asset.fields.file || !asset.fields.file.url) {
    return null
  }
  return 'https:' + asset.fields.file.url
}

const webProjects = entries.items.map((entry: any) => ({
  id:         entry.sys.id,
  href:       entry.fields.url,
  heading:    entry.fields.title,
  subheading: entry.fields.description,
  tags:       entry.fields.tags ?? [],
  imagePath:  getImageUrl(entry.fields.img),
  altText:    entry.fields.img?.fields?.title,
}))

const designWorks = [
  {
    id: 'render-01',
    title: 'ExteriorRender_1',
    category: 'Render' as const,
    imagePath: '/renders/Gemini_Generated_Image_223n3p223n3p223n.png',
    description: '',
  },
  {
    id: 'render-02',
    title: 'InteriorRender_1',
    category: 'Render' as const,
    imagePath: '/renders/IntRender.png',
    description: '',
  },
  {
    id: 'render-03',
    title: 'LandscapeLagoon',
    category: 'Render' as const,
    imagePath: '/renders/landscapeTest2.png',
    description: '',
  },
  {
    id: '3d-01',
    title: 'Model3D_1',
    category: '3D' as const,
    imagePath: '/renders/model3D.jpg',
    /* modelPath: '/renders/scene1.glb',  */
    description: '',
  },
  {
    id: '3d-02',
    title: 'Model3D_2',
    category: '3D' as const,
    imagePath: '/renders/model3D_2.jpg',
    description: '',
  },
  {
    id: 'render-04',
    title: 'ExteriorRender_2',
    category: 'Render' as const,
    imagePath: '/renders/photo_5926857553847454612_y.jpg',
    description: '',
  },
  {
    id: 'render-05',
    title: 'ExteriorRender_3',
    category: 'Render' as const,
    imagePath: '/renders/RENDER2.png',
    description: '',
  },
  {
    id: 'render-06',
    title: 'ExteriorRender_4',
    category: 'Render' as const,
    imagePath: '/renders/test4.jpg',
    description: '',
  },
  {
    id: 'render-07',
    title: 'InteriorRender_2',
    category: 'Render' as const,
    imagePath: '/renders/test8.png',
    description: '',
  },
  {
    id: 'render-08',
    title: 'InteriorRender_3',
    category: 'Render' as const,
    imagePath: '/renders/test10.png',
    description: '',
  },
  {
    id: 'cad-01',
    title: 'CAD_1',
    category: 'CAD' as const,
    imagePath: '/renders/cadModel1.jpg',
    description: '',
  },
  {
    id: 'cad-02',
    title: 'CAD_2',
    category: 'CAD' as const,
    imagePath: '/renders/cadModel2.jpg',
    description: '',
  },
  {
    id: 'cad-03',
    title: 'CAD_3',
    category: 'CAD' as const,
    imagePath: '/renders/cadModel3.jpg',
    description: '',
  },
   {
    id: 'cad-04',
    title: 'CAD_4',
    category: 'CAD' as const,
    imagePath: '/renders/cadModel4.jpg',
    description: '',
  },
   {
    id: 'cad-05',
    title: 'CAD_5',
    category: 'CAD' as const,
    imagePath: '/renders/particolare1.jpg',
    description: '',
  },
  {
    id: 'cad-06',
    title: 'CAD_6',
    category: 'CAD' as const,
    imagePath: '/renders/particolare1SDP.jpg',
    description: '',
  },
   {
    id: 'cad-07',
    title: 'CAD_7',
    category: 'CAD' as const,
    imagePath: '/renders/particolare2.jpg',
    description: '',
  },
  {
    id: 'cad-08',
    title: 'CAD_8',
    category: 'CAD' as const,
    imagePath: '/renders/particolare2SDP.jpg',
    description: '',
  },
   {
    id: 'cad-09',
    title: 'CAD_9',
    category: 'CAD' as const,
    imagePath: '/renders/particolare3.jpg',
    description: '',
  },
   {
    id: 'cad-10',
    title: 'CAD_10',
    category: 'CAD' as const,
    imagePath: '/renders/particolare3SDP.jpg',
    description: '',
  },
]
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
        Projects 
      </h2>
    </TopLayout>
    <BottomLayout size="xl">
      <PortfolioTabs
        webProjects={webProjects}
        designWorks={designWorks}
        lang="it"
        client:load
      />
    </BottomLayout>
  </main>
</BaseLayout>